/* table {
    table-layout: fixed;
    width: 100%;
} */

th {
    color: var(--text-dark) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    /* text-align: left !important; */
    /* padding-top: 1rem !important; */
    /* padding-bottom: 1rem !important; */
    /* padding-left: 0.9375rem !important; */
    /* padding-right: 0.9375rem !important; */
    /* border-color: var(--border) !important; */
    /* border-style: solid !important; */
    /* border-bottom-width: 1px !important; */
    /* white-space: nowrap !important; */
}

td {
    color: var(--text) !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    /* text-align: left !important; */
    /* padding-top: .85rem !important; */
    /* padding-bottom: .85rem !important; */
    /* padding-left: 0.9375rem !important; */
    /* padding-right: 0.9375rem !important; */
    /* white-space: normal !important; */
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

.dataTables_empty {
    text-align: center !important;
}